<div class="container">
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <div class="monthCalendar">
                    <div class="header">
                        <div class="header-control">
                            <div class="header-control-month">Nov 2020</div>
                            <div class="header-control-nav">
                                <a href="" class="header-nav header-prev">
                                    <svg focusable="false" height="24" role="presentation" viewBox="0 0 24 24"
                                         width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
                                    </svg>
                                </a>
                                <a href="" class="header-nav header-next">
                                    <svg focusable="false" height="24" role="presentation" viewBox="0 0 24 24"
                                         width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="month">
                        <div class="header-week">
                            <div class="header-week-day">S</div>
                            <div class="header-week-day">M</div>
                            <div class="header-week-day">T</div>
                            <div class="header-week-day">W</div>
                            <div class="header-week-day">T</div>
                            <div class="header-week-day">F</div>
                            <div class="header-week-day">S</div>
                        </div>
                        <div class="week week--today">
                            <div class="day day--active">1</div>
                            <div class="day">2</div>
                            <div class="day">3</div>
                            <div class="day">4</div>
                            <div class="day">5</div>
                            <div class="day">6</div>
                            <div class="day">7</div>
                        </div>
                        <div class="week">
                            <div class="day">8</div>
                            <div class="day">9</div>
                            <div class="day">10</div>
                            <div class="day">11</div>
                            <div class="day">12</div>
                            <div class="day">13</div>
                            <div class="day">14</div>
                        </div>
                        <div class="week">
                            <div class="day">15</div>
                            <div class="day">16</div>
                            <div class="day">17</div>
                            <div class="day">18</div>
                            <div class="day">19</div>
                            <div class="day">20</div>
                            <div class="day">21</div>
                        </div>
                        <div class="week">
                            <div class="day">22</div>
                            <div class="day">23</div>
                            <div class="day">24</div>
                            <div class="day">25</div>
                            <div class="day">26</div>
                            <div class="day">27</div>
                            <div class="day">28</div>
                        </div>
                        <div class="week">
                            <div class="day">29</div>
                            <div class="day day--otherMonth">30</div>
                            <div class="day day--otherMonth">1</div>
                            <div class="day day--otherMonth">2</div>
                            <div class="day day--otherMonth">3</div>
                            <div class="day day--otherMonth">4</div>
                            <div class="day day--otherMonth">5</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-1@s uk-width-2-3@m">
                <button type="button" class="btn btn-primary btn-lg btn-block add-task">タスク作成</button>
                <div class="uk-text-left">
                    <ul class="task-list">
                        <li>
                            <input type="checkbox">
                            <label class="task">家事</label> <a href=""><button class="btn btn-warning">Edit</button></a>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label class="task">会議</label> <a href=""><button class="btn btn-warning">Edit</button></a>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label class="task">流行</label> <a href=""><button class="btn btn-warning">Edit</button></a>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label class="task">家事</label> <a href=""><button class="btn btn-warning">Edit</button></a>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label class="task">流行</label> <a href=""><button class="btn btn-warning">Edit</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="uk-text-left">
            <p style="padding-left: 5%;font-size: xx-large">タスクの種類</p>
        </div>
        <div class="uk-text-center" uk-grid>
            <div class="uk-width-1-1@s uk-width-1-3@m" >
                <div class="task-type-item" >
                    <a href="">家族</a>
                </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <div class="task-type-item">
                    <a href="">個人</a>
                </div>
            </div>
            <div class="uk-width-1-1@s uk-width-1-3@m">
                <div class="task-type-item" >
                    <a href="">会社</a>
                </div>
            </div>
        </div>
        <div class="uk-text-left">
            <p style="padding-left: 5%;font-size: xx-large">レベル</p>
        </div>
        <div class="uk-text-left">
            <a href="#" style="padding-left: 8%;font-size: large">とても大切</a>
        </div>
        <div class="uk-text-left">
            <a href="#"  style="padding-left: 8%;font-size: large">大切</a>
        </div>
        <div class="uk-text-left">
            <a href="#"  style="padding-left: 8%;font-size: large">あまり大切じゃない</a>
        </div>
    </div>
