<div class="footer" >
  <div class="uk-text-default" uk-grid>
    <div class="uk-width-1-1@s uk-width-1-2@m ">
      <div class="uk-text-left uk-text-middle" style="padding-left: 5%">2020 All rights reserved</div>
    </div>
    <div class="uk-width-1-1@s uk-width-1-2@m  uk-visible@m">
      <div class="uk-text-right uk-text-middle" style="padding-top: 0px">
        <a href="#" >ABOUT US</a>
      </div>
    </div>
  </div>
</div>
